.loginForm {
    background: #17cdce;
    height: 100vh;
    font-family: RalewayRegular;
    display: flex;
    align-items: center;

    h1, p {
        text-align: center;
    }
    h1 {
        font-size: 36px;
    }
    &__input_container {
        display: flex;
        flex-direction: column;
    }

    &__error {
        color: red;
        position: absolute;
        margin: -27px 0 0 192px;
        display: block;
        font-family: RalewayRegular;
    }

    &__form {
        max-width: 450px;
        margin: 0 auto;
        background: #fff;
        padding: 30px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
    }
    &__btn {
        align-self: center;
        padding: 10px 20px;

    }
    &__spoiler {
        background: black;
        color: black;
        display: inline-block;
        padding: 2px;
        &:hover {
            color: white;
            cursor: pointer;
        }
    }
}
