.contact_us {
    background: #fafafa;
    max-width: 1600px;
    margin: 0 auto;
    padding-bottom: 100px;

    & .container {
        @include flex_center;
        max-width: 600px;
    }
    
    &__error {
        color: red;
        position: absolute;
        margin-top: 52px;
        display: block;
        font-family: RalewayRegular;
        .contact_us__form_input_container--textarea & {
            margin-top: 152px;
        }
    }
    &__heading {
        @include heading(44px);
    }
    &__caption {
        
        font-family: RalewayRegular;
        font-size: 15px;
        line-height: 25px;
        color: #061e37;
        margin-top: 16px;
    }

    // Форма
    &__form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 25px;
        color: #061e37;
        font-size: 14px;

        // Submit btn
        &_submit {
            @include big_btn(#1de9b6, #fff);
            font-family: RalewayMedium;
            font-size: 16px;
            width: 130px;
            height: 50px;
            margin-top: 20px;
            &:hover {
                background-color: #061e37;
            }
        }

        // Checkbox
        &_checkbox {
            position: absolute;
            opacity: 0;
            
            &_container {
                margin-top: 37px;
                
            }

            & + label {
                position: relative;
                cursor: pointer;
                padding: 0;
                font-size: 15px;
                color: #061e37;
                font-family: RalewayMedium;
              }
            
              & + label:before {
                content: '';
                margin-right: 10px;
                display: inline-block;
                vertical-align: text-top;
                width: 16px;
                height: 16px;
                background: url("/img/form__checkbox_square.png")
              }
            
              // Box focus
              &:focus + label:before {
                box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
              }
            
              // Checkmark. Could be replaced with an image
              &:checked + label:after {
                content: '';
                position: absolute;
                left: 3px;
                top: 7px;
                background: black;
                width: 2px;
                height: 2px;
                box-shadow: 
                  2px 0 0 black,
                  4px 0 0 black,
                  4px -2px 0 black,
                  4px -4px 0 black,
                  4px -6px 0 black,
                  4px -8px 0 black;
                transform: rotate(45deg);
              }
        }
        
        &_input {
            width: 280px;
            height: 50px;
            border: 1px solid #061e37;
            border-radius: 5px;
            font-family: RalewayMedium;
            padding-left: 18px;
            box-sizing: border-box;
            
            

            &_container {
                margin-top: 20px;
                &--textarea {
                        width: 100%;
                        height: 150px;
                    }
                }
            

            // textarea
            &--textarea {
                resize: none;
                padding: 16px 18px;
                width: 100%;
                height: 150px;
            }
            
            

            &::placeholder{
                color: #061e37;
                opacity: 1;
            }
            &:nth-child(-n + 2) { margin: 0; }
            &:-ms-input-placeholder{ color: #061e37; }
            &::-ms-input-placeholder { color: #061e37;}
        }
    }
}