.get_started {
    @include flex_center;
    // название, под-название и описание

    &__top_container {
        font-family: RalewaySemiBold;
    }
    &__heading {
        @include heading(95px);
    }
    &__sub_title {
        color: #b0bec5;
        font: 25px/53px RalewaySemiBold;
    }
    &__caption {
        font: 15px/25px RalewayRegular;
        color: #b0bec5;
        margin-top: 1px;
    }
    
    // карточки 
    &__card_list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 70px;
    }
    &__card_item {
        box-sizing: border-box;
        padding: 5px 3px 0 4px;
        margin-top: 20px;
    }
    &__card_item--lifted {
        position: relative;
        bottom: 5px;
    }
    &__card_item--lifted &__card_heading {
        margin-top: 38px;
    }
    &__card_heading {
        margin-top: 42px;
        font-size: 20px;
        font-family: RalewaySemiBold;
        color: #061e37;
    }
    &__card_text {
        margin-top: 14px;
        font-size: 15px;
        color: #78909c;
        font-family: RalewayRegular;
        line-height: 20px;
    }
    // кнопка "GET STARTED"
    &__btn {
        @include big_btn(#1de9b6, #ffffff);
        margin-top: 70px;
        margin-bottom: 100px;
        &:hover {
            background-color: #061e37;
        }
    }
    
}
